<h1>Contact Us</h1>
<p>For more details about this group assessment, contact persons below:</p>


<table border="1" cellpadding= "15">
  <tr><td> <b>Musa Abdulkareem Oluwasegun</b> <br />SID: 51123735
  <br />email: <code>abdulkareem.musa.11@aberdeen.ac.uk</code>
  </td> </tr>
    
<tr></tr> <tr></tr> <tr></tr>  
  <tr><td> <b>Akerele Foluso Sunday</b> <br />SID: 51143907
  <br />email: <code>foluso.sunday.akerele.11@aberdeen.ac.uk</code></td> </tr>
     
  
</table>